body {
	font-family: sans-serif;
}
.task {
	left: 24%;
	position: relative;
	width: 55%;
	min-width: 500px;
}
.navigation {
	text-align: center;
	margin: 30px;
}
a:visited {
	color: #0000FF;
}
a:hover {
	color: #FF0000;
}
/*form {
	border: 3px solid #666;
	background-color: #eee;
	border-radius: 10px;
	padding: 35px;
	margin: 35px 40% 0% 34%;
	width: 30%;
	position: relative;
}*/
table {
	border-collapse: collapse;
	/*width: 90%;
	margin-left: 5%;
	margin-top: 100px;*/
}
td{
	padding: 10px;
}

th {
	padding: 7px;
}

#add_btn_41, #add_btn_42 {
	float: right;
	margin-top: 10px;
}
#lb4 {
	width: 100%;
}

.lb4_popup_add {
	position: absolute;
	top: 130px;
	box-shadow: 0 0 200px rgba(0,0,0,1);
	border: 2px solid #111;
	background-color: #eee;
	border-radius: 5px;
	padding: 35px;
	margin: 35px 20% 0% 20%;
	width: 60%;
	z-index: 10;
}
#close_popup {
	float: right;
}
#buttons_td {
	padding: 0px;
	min-width: 120px;
}
.edit_btn1, .edit_btn2, .del_btn1, .del_btn2 {
	width: 40%;
	margin: 5%;
}
.bg_popup {
	z-index: 5;
	background: #000;
	opacity: 0.5;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
#loadGif {
	width: 20%;
}
#loader {
	text-align: center;
	margin-top: 10%;
}
#find_btn {
	width: 100%;
}
input[name="finding"] {
	width: 100%;
	height: 34px;
}
#start_finding {
	width: 100%;
}
#ftable > thead > th, #ftable > tbody > tr > td {
	padding: 0px;
}